---
VMWARE_VM_PARRENT_FOLDER: "
VMWARE_VM_FOLDER: ""
VMWARE_VM_NAME: ""
VMWARE_VM_NETWORK_LABEL: ""

VM_HOSTNAME: ""

CLUSTER_NAME: ""

VM_RAM_SIZE: 2
VM_CPU_COUNT: 2
VM_CPU_PER_SOCKET: 1
VM_DISK_SIZE: 32

SKIP_VYOS_STATIC_LEASES: false
