{% if RKE2_CUSTOM_REGISTRY_MIRRORS | length > 0 %}
mirrors:
{% for mirror in RKE2_CUSTOM_REGISTRY_MIRRORS %}
  {{ mirror.name }}:
    endpoint:
{% for endpoint in mirror.endpoint %}
      - "{{ endpoint }}"
{% endfor %}
{% if mirror.rewrite is defined %}
    rewrite:
      {{ mirror.rewrite }}
{% endif %}
{% endfor %}
{% endif %}
{% if RKE2_CUSTOM_REGISTRY_CONFIGS | length > 0 %}
configs:
{% for config in RKE2_CUSTOM_REGISTRY_CONFIGS %}
  {{ config.endpoint }}:
    {{ config.config | to_nice_yaml(indent=6) }}
{%- endfor %}
{% endif %}
