apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rancher-vsphere-cpi
  namespace: kube-system
spec:
  valuesContent: |-
    vCenter:
      host: "{{ VSPHERE.host }}"
      port: {{ VSPHERE.port }}
      insecureFlag: {{ VSPHERE.insecure | bool | lower }}
      datacenters: "{{ VSPHERE.datacenter }}"
      username: "{{ VSPHERE.user }}"
      password: "{{ VSPHERE.password }}"
      credentialsSecret:
        name: "vsphere-cpi-creds"
        generate: true
      labels:
        region: "{{ VSPHERE.labels.region }}"
        zone: "{{ VSPHERE.labels.zone }}"
